<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICreateOrModifyEmployee" />
                <binding name="WSHttpBinding_IRetrieveEmpDetails" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62293/EmployeeManagementService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreateOrModifyEmployee"
                contract="EmployeeServiceReference.ICreateOrModifyEmployee"
                name="WSHttpBinding_ICreateOrModifyEmployee">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:62293/EmployeeManagementService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRetrieveEmpDetails"
                contract="EmployeeServiceReference.IRetrieveEmpDetails" name="WSHttpBinding_IRetrieveEmpDetails">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>